@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

:root {
    --bs-body-font-family: 'Lexend', sans-serif;
}

body {
    font-family: 'Lexend', sans-serif !important;
    background: transparent !important;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-family: 'Lexend', sans-serif !important;
}


.fade-in {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
from {
    opacity: 0;
    transform: translateY(10px);
}
to {
    opacity: 1;
    transform: translateY(0);
}}